/* Estilo del contenedor del footer */
.container-footer {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000b1;
    z-index: 999;
  }
  
  .container-footer ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center; /* Centra los íconos y el texto */
  }
  
  .container-footer li {
    margin: 20px;
    font-size: 4vh;
    padding: 1vh;
  }
  
  .container-footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: color 0.3s; /* Añadir un efecto suave al color */
  }
  
  .container-footer a:hover {
    color: #ccc; /* Color al hacer hover */
  }
  
  .icon-footer {
    width: 20vh; /* Ajusta el tamaño de las imágenes */
    height: auto;
  }
  
  /* Ajusta el contenedor del texto del enlace */
  .container-footer li:last-child {
    margin-left: auto; /* Empuja el texto a la derecha */
    text-align: right; /* Alinea el texto a la derecha */
    padding: 5.8vh;
  }
  
  /* Ocultar en dispositivos móviles por defecto */
  .mobile-only {
    display: none;
  }
  
  /* Ocultar en pantallas grandes por defecto */
  .desktop-only {
    display: block;
  }
  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
    .mobile-only {
      display: block;
    }
    .desktop-only {
      display: none;
    }
  
    .container-footer li {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  
    .container-footer ul {
      display: block;
    }
  
    .icon-footer {
      width: 15vh; /* Ajustar tamaño de iconos en móvil */
    }
  
    .container-footer li:last-child {
      margin: 0; 
      text-align: center; 
      padding: 5vh; 
      /* display: none; */
    }
  }
  