body {
  background-color: #000000fa;
  padding: 0;
  margin: 0;
  color: white;
}

/* 
   *Landing Container; 
*/
.landing-container {
  text-align: center;
  height: 48vh; /* Asegura que ocupe toda la altura de la vista */
  width: 100%;
  padding-top: 22vh; /* Ajusta el espaciado superior */
  padding-bottom: 20vh;
  z-index: 999; /* Asegúrate de que esté por encima de todos los elementos */
  position: relative; /* Asegura que el z-index funcione correctamente */
}

.landing-container h2 {
  font-size: 10vh;
  color: #0eee15; /* Color de texto */
  font-weight: bold;
}

.landing-container h3 {
  font-size: 5vh;
  font-style: italic;
  font-weight: bold;
}

/*
   * Estilos para el botón;
  */

a {
  text-decoration: none !important; /* Elimina el subrayado de los enlaces */
}

#slideButton {
  display: block;
  margin: 5vh auto;
  padding: 10px 20px;
  letter-spacing: 2px; /* Espaciado de letras para darle aire */
  background-color: #201e1e1f;
  border: 1px solid #0eee15; /* Borde de 1px color verde */
  border-radius: 30px;
  cursor: pointer;
  color: white;
  transition: background-color 0.8s ease-in-out, border-color 0.3s;
  animation: pulse 4s infinite;
  box-shadow: 0px 4px 15px rgba(3, 250, 19, 0.89);
}

#slideButton:hover {
  background-color: rgba(14, 238, 21, 0.2); /* Verde claro casi transparente */
  border-color: #0eee15; /* Mantiene el borde verde al hacer hover */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*
   *quality-assurance-container; 
  */

.quality-assurance-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Altura completa de la pantalla */
}

.imagen {
  flex: 1; /* Ocupa el 50% del ancho del contenedor principal */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  z-index: 999;
  padding-top: 80px;
}

/* Estilos para la imagen */
.imagen img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  transition: transform 0.8s ease; /* Transición suave para el balanceo */
  transform-origin: top center; /* Establece el punto de rotación en la parte superior */
}

/* Efecto hover: balancea la imagen */
.imagen img:hover {
  transform: rotate(
    15deg
  ); /* Rota la imagen 10 grados para crear el balanceo */
}

/* Contenedor de encabezados h2 */
.headers-container {
  flex: 1; /* Ocupa el 50% del ancho del contenedor principal */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
  padding: 50px;

  color: white;

  z-index: 999;
}

/* Estilos para el H2 */
.headers-container h2 {
  font-size: 9.1vh;
  color: #0eee15;
  font-weight: bold; /* Resalta el H2 */
}

/* Estilos para el H3 */
.headers-container h3 {
  font-size: 4.1vh;
  color: #ffffff;
  font-style: italic; /* Añade un toque de elegancia */
  letter-spacing: 1.5px; /* Espaciado entre letras para más claridad */
  word-spacing: 5px; /* Añade más espacio entre las palabras */
  padding: 0.5vh 0; /* Espaciado para mejor legibilidad */
}

/* 
*tech-tools-container
*/

/* Contenedor principal de tecnologías y herramientas */
.tech-tools-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  padding: 6vh 0;
  z-index: 999;
}

/* Estilo del encabezado */
.tech-tools-container h2 {
  font-size: 9.1vh;
  color: #0eee15;
  font-weight: bold; /* Resalta el encabezado */
  text-align: center;
  margin-bottom: 5vh;
  z-index: 999;
}

/* Fila de íconos */
.icons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los íconos bajen si hay poco espacio */
  padding: 5vh 0;
  gap: 5vh; /* Espacio entre íconos */
  z-index: 999;
}

/* Contenedor de cada ícono y nombre */
.icon-item {
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* Estilos de los íconos */
.icon {
  width: 15vh;
  height: auto;
}

/* Estilos de los nombres de los íconos */
.icon-name {
  font-size: 2.5vh;
  color: #fffefe;
  margin-top: 1vh;
}

/* Efectos de hover en los íconos */
.icon-item:hover .icon {
  transform: scale(1.1); /* Aumenta el tamaño del ícono */
  filter: drop-shadow(
    0px 8px 12px rgb(32, 156, 30)
  ); /* Sombra más pronunciada */
}

.icon-item:hover {
  transform: translateY(-30px); /* Mueve el contenedor del ícono hacia arriba */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.347); /* Añade sombra adicional */
}

/*
  *scrum-container;
  */

/* Contenedor principal de Scrum */
.scrum-container {
  display: flex;
  width: 100%;
  height: 90vh;
}

/* Contenedor de la imagen */
.image-scrum {
  flex: 1; /* Ocupa el 50% del ancho del contenedor principal */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  z-index: 999;
  padding-top: 80px;
}

/* Estilos para la imagen */
.image-scrum img {
  width: 90%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  transition: transform 2s ease; /* Transición suave */
  transform-origin: center; /* Establece el punto de rotación en el centro */
}

/* Efecto hover: balancea la imagen */
.image-scrum img:hover {
  transform: rotate(
    -360deg
  ); /* Rota la imagen 360 grados para crear el balanceo */
}

/* Ocultar en dispositivos móviles por defecto */
.mobile-only {
    display: none;
  }
  
  /* Ocultar en pantallas grandes por defecto */
  .desktop-only {
    display: block;
  }


/* *QUERYS*/

@media (max-width: 768px) {
  .mas-informacion {
    margin-bottom: 80px;
  }

  .landing-container {
    padding-top: 45%;
    padding-bottom: 50%;
  }

  .landing-container h2 {
    font-size: 5.5vh;
  }

  .landing-container h3 {
    font-size: 3vh;
  }
  #slideButton {
    box-shadow: 0px 8px 20px rgba(3, 250, 19, 0.89);
  }

  .headers-container h2 {
    font-size: 5.5vh;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .headers-container h3 {
    font-size: 3vh;
    text-align: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tech-tools-container h2 {
    font-size: 6vh;
  }

  .icon-name {
    font-size: 1.8vh;
  }

  .image-scrum {
    height: auto;
    margin-bottom: 50px;
  }
}

/* Ocultar en dispositivos móviles por defecto */
.mobile-only {
  display: none;
}

/* Ocultar en pantallas grandes por defecto */
.desktop-only {
  display: block;
}

/* *QUERYS para pantallas grandes */
@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}