body {
  background-color: #000000fa;
  padding: 0;
  margin: 0;
  color: white;
}

/* 
 *Container Principal  ; 
*/

.containerPrincipal {
  text-align: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la vista */
  width: 100%;
  padding-top: 30vh; /* Ajusta el espaciado superior */
  z-index: 999; /* Asegúrate de que esté por encima de todos los elementos */
  position: relative; /* Asegura que el z-index funcione correctamente */
}

/* .containerPrincipal h1 {
  font-size: 13vh;
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(8, 7, 7, 0.936);
} */

.containerPrincipal h2 {
  font-size: 6vh;
  color: #4caf50;
}

.containerPrincipal p {
  font-size: 13vh;
  margin: 0;
}

/*
 *Estilos para centrar el boton 
*/

#slideButton {
  display: block;
  margin: 5vh auto;
  padding: 10px 20px;
  border: 1px solid #4bd40e;
  background-color: #0000001f;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  transition: background-color 0.2s ease-in-out;
  animation: pulse 4s infinite;
}

#slideButton:hover {
  background-color: #0db6674d;
  border-color: #4bd40e;
  border-bottom: 3px solid #0db667; /* Línea debajo del enlace */
}

#slideButton:active {
  background-color: #0000007f;
  border-color: #4bd40e;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



