/**/
/*Estilos para el cuerpo de la pagina*/
body {
    background-color: black; /*Color de fondo oscuro*/
    display: flex; /*Establece el contenedor como flexbox*/
    align-items: center; /*Centra verticalmente los elementos hijos*/
    height: 100vh; /*Toma toda la altura de la ventana del navegador*/
    margin: 0; /*Elimina el margen predeterminado*/
}

/*Estilos para el Gif animado*/
.gif-container {
    position: fixed; /*Posicion fija para que ocupe toda la ventana*/
    top: 0;
    left: 0;
    width: 100%; /*Ancho completo*/
    height: 100%; /*Altura completa*/
    z-index: -1; /*Colocar detras del contenido*/
}

.gif-container img {
    width: 100%; /*Ancho completo*/
    height: 100%; /*Altura completa*/
    object-fit: cover; /*Cubrir toda la ventana sin distorsion*/
}

/*Estilos para el formulario*/
.formulario {
    position: fixed; /*Posicion fija para centrar*/
    top: 50%; /*Centrar verticalmente*/
    left: 50%; /*Centrar horizontalmente*/
    transform: translate(-50%, -50%); /*Centrar exactamente*/
    background-color: rgba(29, 27, 27, 0.8); /*Fondo semi transparente*/
    padding: 20px; /**/
    border-radius: 10px; /**/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*Sombra*/
    width: 70%; /*Ancho del formulario*/
    max-width: 600px; /*Ancho maximo del formulario*/
    color: white;/**/

}

/*Estilos para el campo del formulario*/
.campo {
    margin-bottom: 20px; /*Margen inferior*/
    text-align: center;
}

/*Estilos para las etiquetas del formulario*/
.campo__label {
    display: block; /*Mostrar como bloque*/
    margin-bottom: 10px; /*Margen inferior*/
}

/*Estilos para los campos de entradadel formulario*/
.campo__field {
    width: 80%; /*Ancho del campo*/
    padding: 10px; /*Espaciado interno*/
    border: 1px solid #666666; /*Borde gris*/
    border-radius: 5px; /*Borde redondeado*/
    background-color: #333333; /*Fondo gris oscuro*/
    color: white;
    
}

/*Estilos para el boton*/
.boton-container {
    text-align: center;
    margin-top: 20px;
    
}

.boton {
    width: 50%; /* Añadido para ocupar el ancho completo */
    padding: 10px;
    border: none;
    background-color: #933eef;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.boton:hover {
    background-color: blue;
}

.butom {
    width: 50%; /* Añadido para ocupar el ancho completo */
    padding: 10px;
    border: none;
    background-color: #0033ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.butom:hover {
    background-color: #933eef;
}
